body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: aliceblue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Home Page */

.homePageImageContainer img {
    object-fit: cover;
    height: 250px;
    width: 300px;
    position: relative;
}


/* NAVBAR THEME */
.navbar {
    background: linear-gradient(10deg, #f4424e, #f4424e 30%, transparent);
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #00ffe8;
    color: #f4424e;
    font-weight: bolder;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #f4424e;
    color: white;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #00ffe8;
    color: #f4424e;
    font-weight: bolder;
}

.navbar-default .navbar-header > button {
    background-color: #f4424e;
    border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-header > button:hover {
    background-color: #00ffe8;
    color: #f4424e;
}

/* BUTTON COLOURS */


/* VIDEO */
video {
    max-width: 100%;
    height: auto;
    opacity: 0.3;
}

.videoOuter {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    position: relative;
}

.videoMiddle {
    display: table-cell;
    vertical-align: middle;
}

.videoInner {
    text-align: center;
    position: relative;
    z-index:0;
    /*text-overflow: ellipsis;*/
}





.videoInner p {
    position: absolute;
    top: 25%;
    left: 0;
    z-index: 1;
    
}


.videoTextHeader {
    font-size: 16px;
    font-size: 3.5vw;
   
}

.videoTextSub {
    font-size: 10px;
    font-size: 2vw;
    font-style: italic;
}

/* TODO: Improve text visibility via @media for smaller and larger sizes */

@media only screen and (min-width: 1920px){
    .videoTextHeader {
        font-size: 16px;
        font-size: 2.5vw;
        
    }

    .videoTextSub {
        font-size: 10px;
        font-size: 1.5vw;
        /*color: green; */
       
    }
}

@media only screen and (min-width: 2920px) {
    .videoTextHeader {
        font-size: 16px;
        font-size: 2vw;
    }

    .videoTextSub {
        font-size: 10px;
        font-size: 1vw;
       /* color: red;*/
    }
}