body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: aliceblue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Home Page */

.homePageImageContainer img {
    object-fit: cover;
    height: 250px;
    width: 300px;
}


/* NAVBAR THEME */
.navbar {
    background: linear-gradient(10deg, #f4424e, #f4424e 30%, transparent);
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: white;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > .open > a:focus {
        background-color: #00ffe8;
        color: #f4424e;
        font-weight: bolder;
    }

.navbar-default .navbar-nav .dropdown-menu, .navbar-default .navbar-nav .dropdown-menu > li > a {
    background-color: #f4424e;
    color: white;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #00ffe8;
    color: #f4424e;
    font-weight: bolder;
}

.navbar-default .navbar-header > button {
    background-color: #f4424e;
    border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-header > button:hover {
    background-color: #00ffe8;
    color: #f4424e;
}