@{
    ViewBag.Title = "Home Page";
}


@*<div class="jumbotron">
    <h1><em>"Learning through repeated failure..."</em></h1>
    <p class="lead">My name's Danny Zapp Dunn, I like coding things, making things, and long walks on the beach...</p>
    <p>I've just completed my IT MSc, and I'm keen to start work as an entry-level developer</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo; <span class="glyphicon glyphicon-adjust"></span></a></p>
</div>*@

<div class="videoOuter">
    <div class="videoMiddle">
        <div class="videoInner">
            <video class="embed-responsive-item" autoplay muted loop>
                <source src="~/Content/videos/AsboSquadV2.mp4" type="video/mp4">
            </video>
            <p class="centered">
                <span class="videoTextHeader">My name's Danny Zapp Dunn, I like coding things, making things, and long walks on the beach...</span>
                <br />
    <br/>
            
                <span class="videoTextSub">I've just completed my IT MSc, and I'm keen to start work as an entry-level developer</span>
            </p>
            
        </div>
   
    </div>
</div>

<br />

<div class="row" >
    <div class="col-md-4">
        <div class="homePageImageContainer">
            <img src="~/Content/images/Programming.jpg" />
        </div>
        <h2>Programming Projects</h2>
        <p>
            Around a year ago, I couldn't code at all. Since then, I've acquired skills in the basic scripting languages (HTML, CSS/Bootstrap, JavaScript/JQuery, SQL)
            alongside programming languages like Java, C++ and C#. Check out my projects thus far...
        </p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Programming Projects &raquo;"), "Index", "ProgrammingProjects", new { }, new { @class = "btn btn-danger" })</p>
    </div>
    <div class="col-md-4">
        <div class="homePageImageContainer">
            <img src="~/Content/images/Drone.jpg" />
        </div>
        <h2>Drone Projects</h2>
        <p>
            Around a year ago, I knew nothing about electronics, avaiation or drones. Since then, it's become an addictively expensive hobby.
            Have a gander at my various tony whoops, racing quads, autonomous drones and flight footage...
        </p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Drone Projects &raquo;"), "Index", "DroneProjects", new { }, new { @class = "btn btn-danger" })</p>
    </div>
    <div class="col-md-4">
        <div class="homePageImageContainer">
            <img src="~/Content/images/3Dprinter.jpg" />
        </div>
        <h2>3D Printing Projects</h2>
        <p>
            Around a year ago, I knew nothing about 3D printing. At the start of this year, I built my first Anet A8 - a cheap but effective option with a massive
            community behind it. Take a peruse through my printing journey...
        </p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("3D Printing Projects &raquo;"), "Index", "ThreeDPrintingProjects", new { }, new { @class = "btn btn-danger" })</p>
    </div>
</div>